[submodule "dwagent-multiuser"]
	path = dwagent-multiuser
	url = https://github.com/hariseldon99/dwagent-multiuser
[submodule "ubuntu-slurm"]
	path = ubuntu-slurm
	url = https://github.com/mknoxnv/ubuntu-slurm
