[Unit]
Description=Telegram Bot Sends Resume From Hibernation Message
After=hibernate.target
Wants=network-online.target
[Service]
ExecStart=/usr/local/bin/post-hibernate-botmsg.py
[Install]
WantedBy=hibernate.target
