[Unit]
Description=Slurm Cleanup at Shutdown
Wants=network-online.target slurmctld.service slurmdbd.service slurmd.service
After=network.target network-online.target slurmctld.service slurmdbd.service slurmd.service

[Service]
Type=oneshot
RemainAfterExit=yes
User=root
WorkingDirectory=/
ExecStop=/usr/local/bin/slurm_cleanup.py shutdown

[Install]
WantedBy=multi-user.target
