[Unit]
Description=Telegram Notification and SLURM setup at Startup and Shutdown
DefaultDependencies=no
Before=shutdown.target reboot.target halt.target poweroff.target
After=network-online.target
Wants=network-online.target

[Service]
User=root
WorkingDirectory=/
ExecStart=/usr/local/bin/tgnotify_slurm.py bootup
ExecStop=/usr/local/bin/tgnotify_slurm.py shutdown
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
